<div class="nav-panel-explore{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
  {{#if page.component}}
  <div class="context">
    <span class="title">Aviatrix Documentation</span>
    {{!-- <span class="version">{{page.componentVersion.displayVersion}}</span> --}}
  </div>
  {{/if}}
  <ul class="components">
    {{#each site.components}}
    <li class="component{{#if (eq this @root.page.component)}} is-current{{/if}}">
      {{!-- wrap title,versions and expand-arrow to one row --}}
      <div class="component-nav">
        <a class="title current-page-expand-collapse-toggle {{#if (eq ./name @root.page.component.name)}}is-direct-expand{{/if}}" href="{{{relativize ./url}}}?expand=true">{{{./title}}}</a>
        {{!-- <div class="versions">
          {{#each ./versions}}
          <div class="version
            {{~#if (and (eq .. @root.page.component) (eq this @root.page.componentVersion))}} is-current{{/if~}}
            {{~#if (eq this ../latest)}} is-latest{{/if}}">
            <a href="{{{relativize ./url}}}">{{./displayVersion}}</a>
          </div>
          {{/each}}
        </div> --}}
        {{!-- Toggle expand/collapse page --}}
        <a href="{{{relativize ./url}}}?expand=true"
          class="current-page-toggle current-page-expand-collapse-toggle {{#if (eq ./name @root.page.component.name)}}is-direct-expand{{/if}}"
        ></a>
        {{!-- Toggle expand/collapse page --}}
      </div>
      {{!-- wrap title,versions and expand-arrow to one row --}}
      {{!-- page --}}
      {{#if (eq ./name @root.page.component.name)}}
      {{#with @root.page.navigation}}
      <div class="nav-panel-menu is-active is-hide" data-panel="menu">
        <nav class="nav-menu">
          {{!-- {{#with @root.page.componentVersion}}
          <h3 class="title"><a href="{{{relativize ./url}}}">{{./title}}</a></h3>
          {{/with}} --}}
      {{> nav-tree navigation=this}}
        </nav>
      </div>
      {{/with}}
      {{/if}}
      {{!-- page --}}
    </li>
    {{/each}}
  </ul>
</div>
